body{
  padding-top: 70px;
  font-family: 'Titillium Web', sans-serif;
}
header{
  padding-top: 100px;
}

testimonios{
  background: #f1f1f1;
  padding: 50px 0 30px 0;
  text-align: center;
  margin-top: 40px;
}

footer
{
  background: #f1f1f1;
}
